* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgba(28, 54, 83, 0.6);
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  color: #333;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  position: relative;
}

* .hero {
  min-height: 100vh;
  background: url(./images/Proposal/photo.jpg) center center;
  background-size: cover;
}

* .hero header .header-nav {
  max-width: 1140px;
  margin: 0 auto;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

* .hero header .header-nav .primary_nav {
  display: inherit;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 40%;
}

* .hero header .header-nav .primary_nav li {
  list-style: none;
  cursor: pointer;
}

* .hero header .header-nav .primary_nav li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

* .hero header .header-nav .logo {
  background: none;
  max-width: 150px;
  max-height: 110px;
}

* .hero header .header-nav .logo img {
  width: 100%;
  cursor: pointer;
}

* .hero header .header-nav .toggle {
  width: 100px;
  height: 58px;
  background-image: url(/images/menuu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 43px;
  display: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

* .hero header .header-nav .toggle.active {
  width: 100px;
  height: 58px;
  background-image: url(/images/closee.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
}

* .hero header .header-nav header.sticky .toggle {
  -webkit-filter: invert(1);
          filter: invert(1);
}

* .hero h2 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 3vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background: none;
}

* .hero h2 span {
  background: none;
  font-size: 3vw;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* .invitation {
  margin-top: 5%;
  text-align: center;
  padding: 0 15px;
}

* .invitation h3 {
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
}

* .invitation p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-top: 10px;
  padding-bottom: 20px;
}

* .intro {
  margin-top: 5%;
  padding: 0 15px;
}

* .intro .intro_container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

* .intro .intro_container h3 {
  text-align: center;
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
  padding-bottom: 20px;
}

* .intro .intro_container .intro_image_text_image .introBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .intro .intro_container .intro_image_text_image .introBx p {
  max-width: 30%;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* .intro .intro_container .intro_image_text_image .introBx .bride_groom_image {
  max-width: 38%;
  text-align: center;
}

* .intro .intro_container .intro_image_text_image .damilola {
  margin-top: 30px;
}

* .proposal {
  margin-top: 5%;
  padding: 0 15px;
}

* .proposal .proposal_container {
  max-width: 1300px;
  margin: 0 auto;
}

* .proposal .proposal_container h3 {
  text-align: center;
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
  padding-top: 50px;
  padding-bottom: 50px;
}

* .proposal .proposal_container .proposal_image_text_image .proposalBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .proposal .proposal_container .proposal_image_text_image .proposalBx p {
  max-width: 50%;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding: 0 20px;
}

* .proposal .proposal_container .proposal_image_text_image .proposalBx p span {
  text-align: left;
  font-size: 20px;
  font-family: cursive;
}

* .proposal .proposal_container .proposal_image_text_image .proposalBx p b {
  font-weight: 700;
  font-size: 20px;
}

* .proposal .proposal_container .proposal_image_text_image .proposalBx .proposal_image {
  max-width: 38%;
  text-align: center;
}

* .proposal .proposal_container .proposal_image_text_image .proposalBx .proposal_image img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

* .proposal .proposal_container .proposal_image_text_image .damilola {
  margin-top: 30px;
}

* .events {
  margin-top: 5%;
  padding: 25px 25px;
  background: #efefef !important;
}

* .events .events_container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

* .events .events_container h3 {
  background-color: #efefef;
  text-align: center;
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
  padding-bottom: 30px;
}

* .events .events_container .event_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .events .events_container .event_row .event_date {
  width: 50%;
  background: #efefef;
}

* .events .events_container .event_row .event_date strong {
  background: #efefef;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

* .events .events_container .event_row .event_date h5 {
  background: #efefef;
  font-size: 15px;
  color: #3d4351;
  text-transform: uppercase;
  font-weight: 500;
}

* .events .events_container .event_row .event_date h5 .time {
  background: #efefef;
  font-size: 13px;
  font-style: italic;
  text-transform: lowercase;
  color: rgba(28, 54, 83, 0.6);
}

* .events .events_container .event_row .event_date p {
  background-color: #efefef;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

* .events .events_container .event_row .church {
  padding-right: 100px;
  border-right: solid 1px #e6e9ea;
}

* .events .events_container .event_row .traditional {
  padding-left: 100px;
  background-color: #efefef;
}

* .events .events_container .dressCode_asoebi {
  background-color: #efefef;
}

* .events .events_container .dressCode_asoebi .btn {
  background-color: #efefef;
  max-width: 17%;
  margin: 0 auto;
  text-align: center;
}

* .events .events_container .dressCode_asoebi .btn a {
  padding: 8px 30px;
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
}

* .events .events_container .dressCode_asoebi .btn :hover {
  background-color: #7a4646;
  color: #fff;
}

* .events .events_container .dressCode_asoebi .small {
  padding-top: 70px;
  padding-bottom: 10px;
}

* .engagement {
  margin-top: 5%;
  padding: 0 15px;
}

* .engagement .engagementBx {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

* .engagement .engagementBx h3 {
  text-align: center;
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
  padding-bottom: 30px;
}

* .engagement .engagementBx .engagementImageBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* .engagement .engagementBx .engagementImageBx .picture {
  width: 400px;
}

* .engagement .engagementBx .engagementImageBx .picture img {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

* .BridesmaidGroomsmen {
  margin-top: 10%;
  padding: 0 20px;
}

* .BridesmaidGroomsmen .bridesmaidBx {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

* .BridesmaidGroomsmen .bridesmaidBx h3 {
  text-align: center;
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
  padding-bottom: 30px;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx .BridesmaidsImageBx {
  width: 300px;
  margin: 0 auto;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx .BridesmaidsImageBx .BridesmaidsImageText {
  width: 300px;
  text-align: center;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx .BridesmaidsImageBx .BridesmaidsImageText img {
  width: 100%;
  margin-top: 20px;
  border-radius: 50%;
  overflow: hidden;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx .BridesmaidsImageBx .BridesmaidsImageText p {
  font-weight: 600;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx .BridesmaidsImageBx .about {
  display: none;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx .BridesmaidsImageBx .BridesmaidsImageText:hover {
  width: 300px;
  margin-top: 20px;
  border-radius: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx .BridesmaidsImageBx .BridesmaidsImageText:hover img {
  border-radius: 10%;
}

* .BridesmaidGroomsmen .bridesmaidBx .bridemaidsImagesTextBx .BridesmaidsImageBx .BridesmaidsImageText:hover + .about {
  text-align: center;
  display: block;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

* .BridesmaidGroomsmen .groomsmenBx {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

* .BridesmaidGroomsmen .groomsmenBx h3 {
  text-align: center;
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
  padding-bottom: 30px;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx .groomsmenImageBx {
  width: 300px;
  margin: 0 auto;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx .groomsmenImageBx .groomsmenImageText {
  width: 300px;
  text-align: center;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx .groomsmenImageBx .groomsmenImageText img {
  width: 100%;
  margin-top: 20px;
  border-radius: 10%;
  overflow: hidden;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx .groomsmenImageBx .groomsmenImageText p {
  font-weight: 600;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx .groomsmenImageBx .about {
  display: none;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx .groomsmenImageBx .groomsmenImageText:hover {
  width: 300px;
  margin-top: 20px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx .groomsmenImageBx .groomsmenImageText:hover img {
  border-radius: 10%;
}

* .BridesmaidGroomsmen .groomsmenBx .groomsmenImagesTextBx .groomsmenImageBx .groomsmenImageText:hover + .about {
  text-align: center;
  display: block;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

* .map {
  margin-top: 5%;
  padding: 0 15px;
  position: relative;
}

* .map .mapBx {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

* .map .mapBx h3 {
  text-align: center;
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
  padding-bottom: 10px;
}

* .map .mapBx p {
  text-align: center;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

* .map .mapBx .map-content {
  position: relative;
  background: #b5b2b2;
  z-index: 2;
  padding: 50px 50px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

* .map .mapBx .map-content .pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* .map .mapBx .map-content .pointer .col-md-6 {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

* .map .mapBx .map-content .pointer .col-md-6 h5 {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

* .map .mapBx .map-content .pointer .col-md-6 p {
  font-size: 15px;
  line-height: 29px;
  padding-bottom: 20px;
  color: #fff !important;
}

* .map .mapBx .map-content .pointer .col-md-6 p a {
  color: #770f05;
}

* .gift {
  margin-top: 5%;
  padding: 0 15px;
  background-color: #faf1f2;
}

* .gift .giftBx {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

* .gift .giftBx h3 {
  text-align: center;
  color: #3d4351;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 29px;
  padding-top: 50px;
  padding-bottom: 20px;
}

* .gift .giftBx p {
  text-align: center;
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}

* .gift .giftBx b {
  text-align: center;
  line-height: 1.7;
}

* .gift .giftBx .giftImage {
  width: 200px;
  margin: 0 auto;
}

* .gift .giftBx .giftImage img {
  width: 100%;
  margin-top: 20px;
}

* .gift .giftBx .giftImage p b {
  color: #770f05;
  font-size: 15px;
  line-height: 29px;
  padding-bottom: 20px;
  font-weight: 700;
}

* footer {
  text-align: center;
  border-top: 1px solid #e6e9ea;
  padding: 50px 0;
}

@media (max-width: 1024px) {
  .hero header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: chocolate;
  }
  .hero header .header-nav .primary_nav {
    display: none;
  }
  .hero header .header-nav .primary_nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin-top: 100px;
  }
  .hero header .header-nav .primary_nav.active li {
    margin-left: -20px;
    padding: 20px 0;
  }
  .hero header .header-nav .primary_nav.active li a {
    font-size: 15px;
  }
  .hero header .header-nav .logo {
    position: absolute;
    max-width: 150px;
    max-height: 110px;
  }
  .hero header .header-nav .logo img {
    width: 100%;
    cursor: pointer;
  }
  .hero header .header-nav .two {
    padding-bottom: 10px;
  }
  .hero header .header-nav .toggle {
    display: block;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .hero header .header-nav header.sticky .toggle {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .hero h2 {
    font-size: 25px;
    z-index: -1;
  }
  .hero h2 span {
    font-size: 15px;
  }
  .intro .intro_container {
    max-width: 700px;
  }
  .intro .intro_container .intro_image_text_image .introBx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro .intro_container .intro_image_text_image .introBx p {
    max-width: 100%;
  }
  .intro .intro_container .intro_image_text_image .introBx .bride_groom_image {
    max-width: 100%;
  }
  .intro .intro_container .intro_image_text_image .damilola {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .proposal {
    margin-top: 5%;
    padding: 0 15px;
  }
  .proposal .proposal_container {
    max-width: 100%;
    margin: 0 auto;
  }
  .proposal .proposal_container h3 {
    text-align: center;
    color: #3d4351;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 29px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .proposal .proposal_container .proposal_image_text_image .proposalBx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .proposal .proposal_container .proposal_image_text_image .proposalBx p {
    max-width: 100%;
    font-size: 15px;
    line-height: 29px;
    color: rgba(28, 54, 83, 0.6);
    padding: 0 20px;
  }
  .proposal .proposal_container .proposal_image_text_image .proposalBx p span {
    text-align: left;
    font-size: 20px;
    font-family: cursive;
  }
  .proposal .proposal_container .proposal_image_text_image .proposalBx p b {
    font-weight: 700;
    font-size: 20px;
  }
  .proposal .proposal_container .proposal_image_text_image .proposalBx .proposal_image {
    max-width: 100%;
    text-align: center;
  }
  .proposal .proposal_container .proposal_image_text_image .proposalBx .proposal_image img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .proposal .proposal_container .proposal_image_text_image .damilola {
    margin-top: 30px;
  }
  .events .events_container {
    max-width: 700px;
  }
  .events .events_container .event_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events .events_container .event_row .event_date {
    width: 100%;
  }
  .events .events_container .event_row .church {
    padding-right: 0;
    padding-bottom: 10px;
    border-right: none;
  }
  .events .events_container .event_row .traditional {
    padding-left: 0;
    padding-top: 10px;
  }
  .events .events_container .dressCode_asoebi .btn {
    max-width: 28%;
    margin: 0 auto;
    text-align: center;
  }
  .events .events_container .dressCode_asoebi .small {
    padding-top: 70px;
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */